/*
=============== 
Navbar
===============
*/
nav {
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
    position: fixed;
    width: 100%;
    top: 0;
}

.menu-icon {
    display: none;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo {

}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #35404e;
    text-transform: uppercase;
}

.nav-menu a {
    color: var(--clr-grey-3);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
}

.nav-menu a:hover {
    background: var(--clr-primary-8);
    color: var(--clr-primary-5);
    padding-left: 1.5rem;
}

.nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nav-header {
    padding: 0;
}

.nav-menu {
    display: flex;
}

.nav-menu a {
    padding: 0;
    margin: 0 0.5rem;
}

.nav-menu a:hover {
    padding: 0;
    background: transparent;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin: 0 0.5rem;
    transition: var(--transition);
}

.linkedin-logo a{
    color: #0e76a8;
}
.twitter-logo a {
    color: #1DA1F2;
}
.instagram-logo a{
    color: #0b5e86;
}
.fb-logo a{
    color: #4267B2;
}
/* .whatsapp-logo a{
    color: rgba(255, 0, 0, 0.815);
} */

.social-icons a:hover {
    color: #162937;
}

@media screen and (max-width: 960px) {
    .nav-header{
        margin: 0;
    }
    .nav-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding-top: 50px;
        bottom: 0;
        z-index: 998;
        left: -260%;
    }

    .menu-icon {
        display: block;
        color: #000;
        right: 15px;
        top: 15px;
        font-size: 24px;
        font-weight: 900;
        cursor: pointer;
        position: fixed;
        background: none;
        z-index: 999;
        border: 0;
    }

    .social-icons {
        margin: 0 auto;
    }

    .navbar-header {
        position: absolute;
        left: 0;
    }

    .nav-menu.mobile-nav {
        left: 0; 
        background: rgba(0, 0, 0, 0.8);
        transition: all 0.5s ease;
        left: -50px; 
        height: 100%;
        z-index: 1;
        display: block;
        overflow: hidden;
        position: fixed;
    }

    .nav-menu.mobile-nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .nav-menu.mobile-nav li {
        position: relative;
        padding-left: 0;
    }

    .nav-menu.mobile-nav li a {
        color: #fff;
        font-size: 0.9rem;
        overflow: hidden;
        margin: 0;
        padding: 30px 150px 10px 15px;
        position: relative;
        text-decoration: none; 
        width: 100%;
        display: flex;
        outline: none;
        text-align: left;
        left: 50px;
        font-weight: 500;
    }

    .display-overlay {
        display: none;

        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
        z-index: 997;
    }

    .display-none {
        display: none;
    }

}
